<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<style>
			.layui-form-label{
				width: 100px;
			}
			.layui-input-block{
				margin-left: 130px;
			}
			.layui-form{
				margin-right: 30%;
			}
			#demo2 > img {
				width: 33%;
				height: 115px;
			}
			#demo1 {
				width: 100%;
				height: 270px;
			}
		</style>

	</head>

	<body class="layui-layout-body" style="overflow: auto;">
	<div class="layui-container">
		<form class="layui-form" action="">
			<div class="layui-form-item">
				<label class="layui-form-label">标题</label>
				<div class="layui-input-block">
					<input name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" type="text">
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">内容</label>
				<div class="layui-input-block">
					<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">封面图</label>
				<div class="layui-input-block" id="test1" style="border: 1px solid #9F9F9F;">
					<div class="layui-upload-list">
						<img class="layui-upload-img" id="demo1">
					</div>
				</div>
				<input type="hidden" name="lImage" value="" >
			</div>
			<div class="layui-form-item layui-form-text">
				<label class="layui-form-label">附加图片</label>
				<div class="layui-input-block" id="test2">
					<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
						预览图(可上传多张)：
						<div class="layui-upload-list" id="demo2"></div>
					</blockquote>
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
					<button type="reset" class="layui-btn layui-btn-primary">立即重置</button>
				</div>
			</div>
		</form>
	</div>
	</body>
	<script type="text/javascript" data-th-inline="javascript">
		layui.use(['form', 'layedit', 'upload'], function() {
			var form = layui.form
					, layer = layui.layer
					, laydate = layui.laydate
					, $ = layui.jquery
					, upload = layui.upload;

			//普通图片上传
			var uploadInst = upload.render({
				elem: '#test1'
				,url: '/invitation/upload_one/'
				,before: function(obj){
					//预读本地文件示例，不支持ie8
					obj.preview(function(res, file, result){
						$('#demo1').attr('src', result); //图片链接（base64）
					});
				}
				,done: function(res){
					//如果上传失败
					if(res.code == 200){
						return layer.msg('上传失败');
					}
					// 将数据放到input框中
					$("input[name='lImage']").val(res.extend.msg);
				}
			});

			//多图片上传 （其实也是一个单文件上传）
			upload.render({
				elem: '#test2'
				,url: '/invitation/upload_one/'
				,multiple: true
				,before: function(obj){
					//预读本地文件示例，不支持ie8
					obj.preview(function(index, file, result){
						$('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
					});
				}
				,done: function(res){
					//上传完毕
					console.log(res);
					$("#demo2").append('<input type="hidden" name="add_pic" value="'+ res.extend.msg +'"/>');
				}
			});

		})
	</script>

</html>